/* 颜色工具类 */
.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--text-color);
}

.text-light {
    color: var(--text-color-light);
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--background-alt);
}

.bg-light {
    background-color: var(--background-color);
}
