/* 标题 */
h1, .h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

h2, .h2 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

h3, .h3 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

h4, .h4 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

h5, .h5 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

h6, .h6 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/* 段落 */
p {
    margin-bottom: 1rem;
    line-height: var(--body-line-height);
}

/* 链接 */
a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--primary-dark);
}

/* 列表 */
ul.list, ol.list {
    margin-bottom: 1rem;
    padding-left: 1.5rem;
}

ul.list {
    list-style-type: disc;
}

ol.list {
    list-style-type: decimal;
}

/* 引用 */
blockquote {
    padding: 1rem;
    margin: 1rem 0;
    border-left: 4px solid var(--primary-color);
    background: var(--background-alt);
}

/* 代码 */
code {
    font-family: monospace;
    background: var(--background-alt);
    padding: 0.2em 0.4em;
    border-radius: var(--radius);
}

pre {
    background: var(--background-alt);
    padding: 1rem;
    border-radius: var(--radius);
    overflow-x: auto;
} 