:root {
    /* Colors */
    --primary-color: #bd3543;
    --primary-dark: #800000;
    --primary-light: #e69090;
    --primary-rgb: 76, 175, 80;

    /* Typography */
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --body-line-height: 1.5;



    /* Colors */
    --text-color: #333;
    --text-color-light: #666;
    --text-color-inverse: #fff;
    --background-color: #fff;
    --background-alt: #f9f9f9;
    --background-dark: #1a1a1a;
    --border-color: #eee;
}
